<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= menu.name %></title>
    <link rel="stylesheet" href="/stylesheets/menus/show.css">
</head>
<body>
    <% if (!user){ %>
        <nav>
          <a href="/">Home</a>
          <a href="/menus">menus</a>
          <a href="/reviews">reviews</a>
          <a href="/users/login">login</a>
        </nav>
        <%} else{%>
          <nav>
            <a href="/">Home</a>
            <a href="/menus">menus</a>
            <a href="/reviews">reviews</a>
            <a href="/users/logout">logout</a>
            <a href="/users/profile">Profile check</a>
          </nav>
        <% } %>
        <h2 class="menu-title"><%= menu.name %></h2>
    <div class="flex-container">
        <div class="menu-container">
            <img src="/images/burger.jpeg" alt="" class="menu-image">
            <p class="menu-description"><%= menu.description %></p>
        </div>
        <div class="reviews-container">
            <table class="reviews-table">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>REVIEW</th>
                        <th>RATING</th>
                    </tr>
                </thead>
                <tbody>
                    <% if(reviews.length) { %>
                        <% reviews.forEach(review => { %>
                            <tr class="review-row">
                                <td class="username"><%= review.user.username %></td> 
                                <td class="review-comment"><%= review.comment %></td>
                                <td class="review-rating"><%= review.rating %></td>
                            </tr>
                        <% }) %>
                    <% } else { %>
                        <tr class="no-review">
                            <td colspan="3">No reviews yet.</td>
                        </tr>
                    <% } %>
                </tbody
            </table>
        </div>
    </div>
    <%if (user){ %>
     <a href="/reviews/<%= menu._id %>" class="add-review-button">Add A Review</a>        <% } %>
</body>
</html>