<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= menu.name %></title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <h2><%= menu.name %></h2>
    <p><%= menu.description %></p>
    <table>
        <thead>
            <tr>
                <th>USERNAME</th>
                <th>REVIEW</th>
                <th>RATING</th>
            </tr>
        </thead>
        <tbody>
            <% if(menu.reviews.length) { %>
                <% menu.reviews.forEach(review => { %>
                <tr>
                    <td><%= review.user.username %></td>
                    <td><%= review.comment %></td>
                    <td><%= review.rating %></td>
                </tr>
                <% }) %>
            <% } else { %>
                <tr>
                    <td>No reviews yet.</td>
                </tr>
            <% } %>
        </tbody>
    </table>
    <a href="reviews/<%= menu._id %>">Add A Review</a>
</body>
</html>