<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= menu.name %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <% if (!user){ %>
        <nav>
          <a href="/menus">menus</a>
          <a href="/reviews">reviews</a>
          <a href="/users/register">register</a>
          <a href="/users/login">login</a>
        </nav>
        <%} else{%>
          <nav>
            <a href="/menus">menus</a>
            <a href="/reviews">reviews</a>
            <a href="/users/register">register</a>
            <a href="/users/logout">logout</a>
            <a href="/users/profile">Profile check</a>
          </nav>
        <% } %>
    <h2><%= menu.name %></h2>
    <p><%= menu.description %></p>
    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>REVIEW</th>
                <th>RATING</th>
            </tr>
        </thead>
        <tbody>
            <% if(reviews.length) { %>
                <% reviews.forEach(review => { %>
                    <tr>
                        <td><%= review.user.username %></td> 
                        <td><%= review.comment %></td>
                        <td><%= review.rating %></td>
                    </tr>
                <% }) %>
            <% } else { %>
                <tr>
                    <td colspan="3">No reviews yet.</td>
                </tr>
            <% } %>
        </tbody>
    </table>
    <%if (user){ %>
    <a href="/reviews/<%= menu._id %>">Add A Review</a>
    <% } %>
</body>
</html>