<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/reviews/index.css">
    <title>Food Reviews</title>
</head>
<body>
    <% if (!user) { %>
    <nav>
        <a href="/">home</a>
        <a href="/menus">menus</a>
        <a href="/users/login">login</a>
    </nav>
    <% } else { %>
    <nav>
        <a href="/">home</a>
        <a href="/menus">menus</a>
        <a href="/users/logout">logout</a>
        <a href="/users/profile">Profile check</a>
    </nav>
    <% } %>
    <h1>Food Reviews List</h1>
    <table>
        <thead>
            <tr>
                <th></th>
                <th>User</th>
                <th>Food</th>
                <th>Description</th>
                <th>Rating</th>
            </tr>
        </thead>
        <tbody>
            <% reviews.forEach(function(review) { %>
            <tr>
                <td><img src="<%= review.user.imagePath %>" class="profile-picture"></td>
                <td><a href="users/profile/<%= review.user._id %>/show"><%= review.user.fullname %></a></td>
                <td><%= review.menuItem.name %></td> 
                <td><%= review.comment %></td>
                <td><%= review.rating %></td>
            </tr>
            <% }); %>
        </tbody>
    </table>
</body>
</html>
