<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/users/profile.css">
    <title><%= user.fullname %>'s Profile</title>
</head>
<body>
    <header>
        <nav>
            <a href="/">home</a>
            <a href="/menus">menus</a>
            <a href="/reviews">reviews</a>
            <a href="/users/logout">logout</a>
            <a href="/users/profile">Profile check</a>
          </nav>
    </header>
    <h1>Your Profile Details</h1>
    <div class="user-details">
        <div class="profile-picture">
            <img src="<%= user.imagePath %>"/>
        </div>
        <div class="user-info">
            <h2><%= user.fullname %></h2>
            <p><strong>Location:</strong> <%= user.location %></p>
            <p><strong>About:</strong> <%= user.about %></p>
        <a href="/users/profile/<%= user._id%>/edit">Edit Profile</a>
        </div>
    </div>
      <h1>Your Food Reviews</h1>
      <table>
          <thead>
              <tr>
                  <th></th>
                  <th>Food</th>
                  <th>Description</th>
                  <th>Rating</th>
              </tr>
          </thead>
          <tbody>
            <% if (reviews.length) {%>
              <% reviews.forEach(function(review) { %>
                  <tr>
                    <td><a href="/reviews/edit/<%= review._id %>">Edit</a></td>
                    <td><%= review.menuItem.name %></a></td> 
                    <td><%= review.comment %></a></td>
                    <td><%= review.rating %></a></td>
                  </tr>
              <% }) %>
            <%} else { %>
                <tr class="no-review">
                    <td colspan="4">No reviews yet.</td>
                </tr>
            <% } %>%>
          </tbody>
      </table>
</body>
</html>